<div class="container">
  <div class="row justify-content-around">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://images7.alphacoders.com/856/856243.jpg" alt="NBA players">
        <div class="card-body">
          <h5 class="card-title">Players</h5>
          <p class="card-text">Check the top NBA players, according to Ironhack Curriculum staff.</p>
          <a href="/players" class="btn btn-primary">See Players</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="https://wallpapers.com/images/hd/nba-teams-7fqfl1n8sm01a2vr.jpg"
            alt="NBA teams">
        <div class="card-body">
          <h5 class="card-title">Teams</h5>
          <p class="card-text">Here we can check all NBA Teams</p>
          <a href="/teams" class="btn btn-primary">See Teams</a>
        </div>
      </div>
    </div>
  </div>
</div>